.listItem {
  background-color: rgb(var(--background-2-rgb));
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;

  &.oppositeColors {
    background-color: 'rgb(var(--background-rgb))';
  }

  &.compact {
    height: 50px;
  }

  &.hoverable:hover {
    border: 1px solid #777 !important;
    cursor: pointer;
  }
}

.button {
  display: flex;
  justify-content: center;
  user-select: none;
  margin-bottom: 0;

  &.oppositeColors {
    color: rgb(var(--foreground-2-rgb));
    border: 1px solid #444;

    &:hover {
      color: rgb(var(--foreground-rgb));
      border: 1px solid #777;
    }
  }
}
